/* Empty file for template. Remember to edit only this file and not the HTML file */




.page-wrapper {
    background-color: #f8f8ff;
    
}

[role|=banner] {
    background-color: #D4BBDD;
    margin-bottom: 20px;
    padding: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
}

#zen-intro {

}

#zen-summary {
    background-color: #f7e951;
    padding: 20px;
    width: 66%;
    height: 100%;
    

}

.preamble {

}

#zen-preamble {
    background-color: #f7e951;
    padding: 20px;
    width: 66%;
    height: 100%;
    
}

.main-supporting {

}

.participation {
    background-color: #D4BBDD;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.benefits {
    background-color: #D4BBDD;
    padding: 20px;
    margin-bottom: 20px;
}

.requirements {
    background-color: #D4BBDD;
    padding: 20px;
    text-align: right;

}

.sidebar {
    background-color: #D4BBDD;
}

.wrapper {

}

.design-selection {

}

.select {

}

.design-archives {

}

.archives {

}

.next {

}

.viewall {

}

.zen-resources {

}













