/* Empty file for template. Remember to edit only this file and not the HTML file */




.page-wrapper {
    background-color: #f8f8ff;
    
}

[role|=banner] {
    background-color: #D4BBDD;
    margin-bottom: 20px;
    padding: 20px;
}

.intro {
    display: flex;
    flex-direction: column;

}

#zen-intro {

}

#zen-summary {
    background-color: #f7e951;
    padding: 20px;
    width: 76%;
    height: 100%;

}

.preamble {

}

#zen-preamble {
    background-color: #f7e951;
    padding: 20px;
    width: 76%;
    height: 100%;
    margin-bottom: 20px;
}


#zen-explanation {
    background-color: rgb(212, 187, 221, 36%);
    padding: 20px;
    margin-bottom: 20px;
}

.main-supporting {

}

.participation {
    background-color: #f7e951;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
    width: 76%;
    height: 100%;
    justify-self: flex-end;
}



.benefits {
    background-color: #D4BBDD;
    padding: 20px;
    margin-bottom: 20px;
}

.requirements {
    background-color: #D4BBDD;
    padding: 20px;
    text-align: right;

}

.sidebar {
    background-color: #D4BBDD;
}

.wrapper {

}

.design-selection {

}

.select {

}

.design-archives {

}

.archives {

}

a:link {
    text-decoration: none;
    color: black;
}

.next {

}

.viewall {
    justify-self: flex-end;
    padding: 20px;
    list-style-type: none;
}

.zen-resources {

}













